<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

	<targets>
        <target xsi:type="File" name="File" fileName="${var:WorkFolder}/logs/${shortdate}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}| ${level:uppercase=true}| ${var:ModuleType}| ${message}" />
		<target xsi:type="File" name="CrawlerError" fileName="${var:WorkFolder}/logs/CrawlerError.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}|${var:ModuleType}|${message}${newline}-------------------------------------------------------------------" />
		<target xsi:type="File" name="ImageError" fileName="${var:WorkFolder}/logs/ImageError.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}|${var:ModuleType}|${message}${newline}-------------------------------------------------------------------" />
		<target xsi:type="ColoredConsole" name="ColoredConsole"  useDefaultRowHighlightingRules="false" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}| ${var:ModuleType}| ${message}" >
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<rules>
		<logger name="CrawlerError" minlevel="Warn" writeTo="CrawlerError" />
		<logger name="ImageError" minlevel="Warn" writeTo="ImageError" />
		<logger name="Default" minlevel="Warn" writeTo="File" />
		<logger name="Default" minlevel="Trace" writeTo="ColoredConsole" />
	</rules>
</nlog>
